@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
}

canvas {
	max-width: 100%;
}

footer {
	bottom: 0;
	color: #333;
	font-family: 'Open Sans', 'Arial', sans-serif;
	padding: 10px;
	position: fixed;
	left: 0;
	right: 0;
	letter-spacing: 1px;
	text-align: center;
}

footer i {
	color: red;
}

footer a {
	color: #3C97BF;
	text-decoration: none;
}