@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	align-items: center;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', 'Arial', sans-serif;
	height: 100vh;
	justify-content: center;
	margin: 0;
}

canvas {
    border-radius: 5px;
    border: 1px solid #aaa;
}

footer {
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	letter-spacing: 1px;
	text-align: center;
}

footer p {
	margin: 5px 0;
}

footer i {
	color: red;
}

footer a {
	color: #3C97BF;
	text-decoration: none;
}