@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}

body {
	align-items: center;
	color: #222;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', 'Arial', sans-serif;
	min-height: 100vh;
    justify-content: center;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    margin-top: -50px;
}

p {
	margin-top: 20px;
}

canvas {
    margin-top: 30px;
}

footer {
	background-color: #222;
	color: #fff;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	letter-spacing: 1px;
	text-align: center;
}

footer p {
	margin: 10px 0;
}

footer i {
	color: red;
}

footer a {
	color: #3C97BF;
	text-decoration: none;
}