@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #222;
    font-family: 'Open Sans', 'Arial', sans-serif;
    padding-bottom: 50px;
}

nav {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
}

nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

nav .container {
    align-items: center;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

nav.active .container {
    padding: 10px 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

nav a {
    color: #fff;
    padding: 7px 15px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav li a:hover {
    background-color: #fff;
    color: #222;
}

nav.active a {
    color: #000;
    padding: 7px 10px;
}

nav.active li a:hover {
    background-color: #222;
    color: #fff;
}

nav a.active {
    background-color: #c0392b;
    color: #fff;
}

.hero {
    align-items: center;
    background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    display: flex;
    height: calc(100vh - 30px);
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: -2;
}

.hero::before {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2, .content h3 {
    font-size: 150%;
    margin: 10px 0;
}

.content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.5px;
}

footer {
	background-color: #222;
	color: #fff;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	letter-spacing: 1px;
	text-align: center;
}

footer p {
	margin: 10px 0;
}

footer i {
	color: red;
}

footer a {
	color: #3C97BF;
	text-decoration: none;
}

@media (max-width: 1200px) {
    .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}